/* Titles/heading/sub-heading text */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
/* main content text */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');




/* --------------------Special positioning, padding, margin & text-------------------- */

html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

div.container {
    padding-left: 10px;
    padding-right: 10px;
}

form.container{
    padding: 20px 40px;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.heading-text {
    font-family: 'Josefin Sans', sans-serif;   
    font-weight: bold;
}

.content-text {
    font-family: 'Roboto', sans-serif;
    color: black;
}


/* --------------------body/backgrounds/images-------------------- */

/* Taken from TalkersCode.com: Full Width background image */
.hero-image {

    background: url(../images/hero-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}   
/* /.Taken from TalkersCode.com */

.nav-bg {
    background-color: rgba(185, 185, 185, 0.5);
}

.footer-bg {
     background-color: rgba(185, 185, 185, 0.5);
}

.content-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.content-bg-text {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #b9b9b9;
    border-radius: .25rem;
}

.carousel-bg {
    background-color: rgba(185, 185, 185, 0.8);
}

/* --------------------header-------------------- */

nav {
    text-align: right;
}


.navbar-brand {
    font-size: 4.2vw;
    padding: 10px 10px;
    margin: 1px 15px;
    
}

.navbar-nav {
    font-size: 3.5vw;
   
}

a#title {
    padding: 8px;
    margin: 0;
}

#title:hover {
    text-decoration: underline;
    color: white;
}

#nav > li > a:hover {
    color: white;
}

#nav > li > a.active {
    text-decoration: underline;
}


/* --------------------Content section-------------------- */
/* form section */
form {
    padding: 5px 5px;
    margin: 15px 5px;
    border: 1px solid rgba(185, 185, 185, 1);
    border-radius: .25rem;
}

form div.form-row {
    padding: 5px 0;
    margin: 5px 0;
}
input.form-control {
    padding: 6px;
    margin: 5px 0;
}

label.bg-light {
    border: 1px solid #b9b9b9;
}

#emailtextblock {
    padding: 6px;
    color: black;
}

textarea + div {
    padding: 5px 5px;
    border-radius: .25rem;
}

/* About content section */
div.text-center button {
    border: 5px solid #343A40;
}

div.card{
    padding: 5px;
    margin: 2px 10px 2px 10px;
}
div.text-center {
    padding-bottom: 2px;
}

div div.row.content-title {
    object-position: center;
    padding: 5px 5px;
    margin: 150px 25px 25px 25px;
}

h1{
    padding: 5px 5px;
    margin: 1px 1px;
    border: 1px solid #b9b9b9;
    border-radius: .25rem;
}

div .content-text {
    padding: 5px 5px;
}

p {
    color: black;
    line-height: 150%;
    margin-bottom: 8px;
    padding: 5px;
}

.row .col-sm-4 {
    padding: 5px 5px;
}

div > p > button {
    margin: 5px;
}
/* Gallery section */
h5 {
    color: black;
}
.carousel-item img, video{
    border: 8px solid rgba(185, 185, 185, 1);
    border-radius: .25rem;
}

div.col.text-center label {
    padding: 5px 5px;
    border-radius: .25rem;
}
/* Pindrop google maps link icon: */
#nz-carousel > div > div > div > p > a > i {
    margin: 0 0;
    padding: 0 0;
    font-size: 30px;
    color: black;
}

#nz-carousel > div > div > div > p > a > i:hover {
    color: white;
}

/* video section */
video {
    max-width: 100%;
    height: auto;

}
div .content-text{ 
    margin-bottom: 0px;
    padding: 2px 2px;
}

/* --------------------footer-------------------- */ 
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;    
}

.footer-container {
    color: black;
    margin-top: 55px;
}
/* Contact us modal */
footer > div > div > div.col.text-center > button{
border: none;
background: none;
font-size: larger;
padding: 10px;
margin: 5px 0px;
}

footer > div > div > div.col.text-center > button:hover{
color: white;
}
/* Copywrite footer element */
.copywrite {
    text-align: left;
    padding-top: 10px;
}
/* Social links */
div.social-section {
    display: flex;
    justify-content: center;
    }

div h4 {
    text-align: justify;
    padding: 10px 10px;
    margin: 5px 0;
}

div.social-section ul {
    margin: 0 0;  
    padding-top: 1px;
}

.social-links li a {
    margin: 0 0;
    padding: 0 0;
    font-size: 30px;
    color: black;
}

.social-links li a:hover {
    color: white;
}


/* --------------------Media Queries-------------------- */ 
/* Controlling nav bar elements text size on differing devices */
@media(min-width: 576px) {
    .navbar-brand {
        font-size: 3vw;
    }

    .navbar-nav {
        font-size: 1.8vw;
    }

}

@media(min-width: 992px) {
    .navbar-brand {
        font-size: 2.5vw;
    }

    .navbar-nav {
        font-size: 1.25vw;
    }
}   